<section id="about" class="relative py-16 px-8">
    <div class="relative w-full container mx-auto flex flex-col md:flex-row items-center">
        <img src="/profe.jpg" alt="About me" class="w-full h-auto md:h-[1000px] object-cover rounded-lg shadow-lg">
        <div>
            <h2 class="flex justify-center text-center md:absolute md:top-[20px] md:right-[350px] text-6xl md:text-9xl font-extralight px-6 py-3 text-mintGreen font-playfair">Sobre mí</h2>
            <p class="text-[#333333]/50 px-6 py-4 text-xl md:text-2xl font-lato max-w-5xl leading-relaxed text-center md:text-left mt-6 mb-4">
                Soy <strong>Maribel</strong>, instructora de Pilates en <span class="text-mintGreen">Turtle Studio</span>. Con más de 10 años de experiencia, mi enfoque se centra en <strong>mejorar la postura, fortalecer el cuerpo y equilibrar la mente</strong> a través de ejercicios personalizados. Trabajo con alumnos de todos los niveles, adaptando cada clase para que logres tus objetivos de manera efectiva y segura.
            </p>
            
            <p class="text-[#333333]/50 px-6 py-4 text-xl md:text-2xl font-lato max-w-5xl leading-relaxed text-center md:text-left mt-6 mb-4">
                Mi objetivo es crear un ambiente profesional, motivador y accesible, donde cada clase sea una oportunidad para <span class="text-darkGreen">mejorar tu bienestar integral</span>. Si buscas resultados reales y un enfoque adaptado a tus necesidades, te invito a unirte a mis clases de Pilates en <span class="text-mintGreen">Turtle Studio</span>.
            </p>
            
        </div>
    </div>
</section>
