<section id="services" class="w-full text-center mx-auto ">
    <div class="flex justify-center items-center overflow-hidden whitespace-nowrap relative bg-mintGreen py-8">
        <div class="overflow-hidden whitespace-nowrap relative w-full">
            <div class="inline-flex animate-marquee space-x-8 sm:space-x-16 items-center">
                <p class="text-base sm:text-lg lg:text-3xl font-extralight text-beige">Bienvenido a tu lugar feliz</p>
                <span class="text-beige">•</span>
                <p class="text-base sm:text-lg lg:text-3xl font-extralight text-beige">Disfruta el momento</p>
                <span class="text-beige">•</span>
                <p class="text-base sm:text-lg lg:text-3xl font-extralight text-beige">Vive con pasión</p>
                <span class="text-beige">•</span>
                <p class="text-base sm:text-lg lg:text-3xl font-extralight text-beige">Bienvenido a tu lugar feliz</p>
                <span class="text-beige">•</span>
                <p class="text-base sm:text-lg lg:text-3xl font-extralight text-beige">Disfruta el momento</p>
                <span class="text-beige">•</span>
                <p class="text-base sm:text-lg lg:text-3xl font-extralight text-beige">Vive con pasión</p>
            </div>
        
            <div class="inline-flex animate-marquee space-x-8 sm:space-x-16 items-center" aria-hidden="true">
                <p class="text-base sm:text-lg lg:text-3xl font-extralight text-beige">Bienvenido a tu lugar feliz</p>
                <span class="text-beige">•</span>
                <p class="text-base sm:text-lg lg:text-3xl font-extralight text-beige">Disfruta el momento</p>
                <span class="text-beige">•</span>
                <p class="text-base sm:text-lg lg:text-3xl font-extralight text-beige">Vive con pasión</p>
                <span class="text-beige">•</span>
                <p class="text-base sm:text-lg lg:text-3xl font-extralight text-beige">Bienvenido a tu lugar feliz</p>
                <span class="text-beige">•</span>
                <p class="text-base sm:text-lg lg:text-3xl font-extralight text-beige">Disfruta el momento</p>
                <span class="text-beige">•</span>
                <p class="text-base sm:text-lg lg:text-3xl font-extralight text-beige">Vive con pasión</p>
            </div>
        </div>
        
        
    </div>

    <div class="max-w-7xl mx-auto py-20">
        <h2 class="text-7xl font-playfair font-extralight text-darkGreen mb-10">Nuestros servicios</h2>
        <p class="text-xl text-[#333333] leading-relaxed">En <strong>TURTLE STUDIO</strong>, combinamos el arte del pilates con un enfoque personalizado para ayudarte a mejorar tu bienestar físico y mental. Descubre un espacio diseñado para conectar cuerpo y mente.
        </p>

        <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 items-center gap-8 py-10 max-w-6xl justify-center mx-auto">
            <div class="w-[350px] md:w-[350px] h-[400px] p-8 border justify-center rounded-2xl shadow-lg bg-beige hover:bg-[#ddd5cb] border-[#ddd5cb] flex flex-col items-center text-center space-y-6 mx-auto">
                <a href="#">
                    <h5 class="text-5xl font-extrabold tracking-tight text-mintGreen">1 CLASE</h5>
                </a>
                <p class="text-2xl font-medium text-[#333333] leading-relaxed">por semana</p>
                <a href="#contact" class="inline-flex items-center px-5 py-3 text-lg font-semibold text-white bg-darkGreen rounded-xl hover:bg-mintGreen/80 focus:ring-4 focus:outline-none focus:ring-blue-30 transition-all duration-300">
                    Reserva tu clase
                    <svg class="rtl:rotate-180 w-4 h-4 ms-2" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 10">
                        <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M1 5h12m0 0L9 1m4 4L9 9"/>
                    </svg>
                </a>
            </div>
        
            <div class="w-[350px] md:w-[350px] h-[400px] p-8 border justify-center rounded-2xl shadow-lg bg-beige hover:bg-[#ddd5cb] border-[#ddd5cb] flex flex-col items-center text-center space-y-6 mx-auto">
                <a href="#">
                    <h5 class="text-5xl font-extrabold tracking-tight text-mintGreen">2 CLASES</h5>
                </a>
                <p class="text-2xl font-medium text-[#333333] leading-relaxed">por semana</p>
                <a href="#contact" class="inline-flex items-center px-5 py-3 text-lg font-semibold text-white bg-darkGreen rounded-xl hover:bg-mintGreen/80 focus:ring-4 focus:outline-none focus:ring-blue-30 transition-all duration-300">
                    Reserva tu clase
                    <svg class="rtl:rotate-180 w-4 h-4 ms-2" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 10">
                        <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M1 5h12m0 0L9 1m4 4L9 9"/>
                    </svg>
                </a>
            </div>
        
            <div class="w-[350px] md:w-[350px] h-[400px] p-8 border justify-center rounded-2xl shadow-lg bg-beige hover:bg-[#ddd5cb] border-[#ddd5cb] flex flex-col items-center text-center space-y-6 mx-auto">
                <a href="#">
                    <h5 class="text-5xl font-extrabold tracking-tight text-mintGreen">3 CLASES</h5>
                </a>
                <p class="text-2xl font-medium text-[#333333] leading-relaxed">por semana</p>
                <a href="#contact" class="inline-flex items-center px-5 py-3 text-lg font-semibold text-white bg-darkGreen rounded-xl hover:bg-mintGreen/80 focus:ring-4 focus:outline-none focus:ring-blue-30 transition-all duration-300">
                    Reserva tu clase
                    <svg class="rtl:rotate-180 w-4 h-4 ms-2" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 10">
                        <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M1 5h12m0 0L9 1m4 4L9 9"/>
                    </svg>
                </a>
            </div>
        </div>
        
    </div>

    <!-- <div class="grid grid-cols-1 lg:grid-cols-6 items-center gap-12 py-10 max-w-6xl justify-center mx-auto">
        <img class="w-full h-auto col-span-4 border-2 border-black" src="/studio1.jpg" alt="Estudio de pilates Turtle Studio">
        <div class="max-w-4xl mx-auto px-6 lg:px-8 py-8 lg:py-16 space-y-6 col-span-2">
            <h2 class="text-7xl font-playfair font-extralight text-darkGreen">Nuestros servicios</h2>
            <p class="text-xl text-[#333333] leading-relaxed">En <strong>TURTLE STUDIO</strong>, combinamos el arte del pilates con un enfoque personalizado para ayudarte a mejorar tu bienestar físico y mental. Descubre un espacio diseñado para conectar cuerpo y mente.</p>
            <ul class="space-y-3 text-lg text-darkGreen text-left">
                <li> Clases grupales e individuales</li>
                <li> Instructores certificados</li>
                <li> Equipamiento de última generación</li>
                <li> Ambiente relajante y acogedor</li>
            </ul>
            <a href="#contacto" class="inline-block bg-darkGreen text-white py-3 px-6 rounded-lg text-lg font-semibold hover:bg-opacity-90 transition duration-300">Reserva tu clase</a>
        </div>
    </div> -->
    
</section>

<style>
    @keyframes marquee {
        from {
            transform: translateX(100%);
        }
        to {
            transform: translateX(-100%);
        }
    }

    .animate-marquee {
        animation: marquee 15s linear infinite;
    }

</style>
```