<section class="relative py-16 bg-mintGreen overflow-hidden" id="studio">
    <div class="absolute inset-0 bg-[url(/turtles.png)] bg-repeat opacity-20"></div>

    <div class="relative container mx-auto px-4">
        <h2 class="text-7xl font-playfair font-extralight text-center mb-10 text-beige">Nuestro espacio seguro</h2>
        <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 gap-4">
            <div class="overflow-hidden rounded-lg shadow-lg">
                <img src="studio1.jpg" alt="Pilates Studio Image 1" class="w-full h-[700px] object-cover">
            </div>
            <div class="overflow-hidden rounded-lg shadow-lg">
                <img src="studio2.jpg" alt="Pilates Studio Image 2" class="w-full h-[700px] object-cover">
            </div>
            <div class="overflow-hidden rounded-lg shadow-lg">
                <img src="studio3.jpg" alt="Pilates Studio Image 3" class="w-full h-[700px] object-cover">
            </div>
            <div class="overflow-hidden rounded-lg shadow-lg">
                <img src="studio4.jpg" alt="Pilates Studio Image 4" class="w-full h-[700px] object-cover">
            </div>
            <div class="overflow-hidden rounded-lg shadow-lg">
                <img src="studio5.jpg" alt="Pilates Studio Image 5" class="w-full h-[700px] object-cover">
            </div>
            <div class="overflow-hidden rounded-lg shadow-lg">
                <img src="studio6.jpg" alt="Pilates Studio Image 6" class="w-full h-[700px] object-cover">
            </div>
        </div>
    </div>
</section>
